
<p>
  <strong>Website:</strong>
  <%= @password.website %>
</p>

<p>
  <strong>Username:</strong>
  <%= @password.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @password.password %>
</p>

<%= link_to 'Edit', edit_password_path(@password), class:"linkdesign" %> |
<%= link_to 'Back', passwords_path, class:"linkdesign" %>
